*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: rgb(207,213,223);
  list-style-type: none;
}
.nav-bar{
  height: 44px;
  padding: 0 5vw;
  line-height: 44px;

  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  font-size: 14px;
  background-color: #333;
}

.nav-menu{
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
  max-width: 424px;

}
.nav-logo{
  font-size: 14px;
  flex-grow: 1;
}
.nav-logo::first-letter{
  font-size: 1.5rem;
}
.nav-burger{
  display: none;
}
.nav-burger div{
  display: block;
  width: 25px;
  height: 2px;
  background-color: white;
  margin-bottom: 4px;
  transition: all 1s;
}
.main-content{
  background-image: url("");
  width: 100%;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
  background-color: #bfa;
}
@media screen and (max-width: 580px){
  .nav-menu{
    position: absolute;
    top: 44px;
    right: 0;
    
    height: calc( 100vh - 44px);
    width: 0;
    background-color: #333;
    /* flex-flow: column ;
    align-items: center;

    justify-content: start; */
    /* 页面缩小，菜单隐藏 */
    transition: all ease-in-out 1s ;
    /* right : -50vw; */
    /* display: none; */

    /* 设置渐变色 */
    background-image: linear-gradient(to bottom, rgb(51, 51, 51), rgb(131, 126, 126));
  }
  .nav-menu li{
    color: #dbdbdd;
    margin: 3vh 0;
    transition: all 1s;
    /* transform: translateX(44px); */
    opacity: 0;
    display: none;
  }
  /* 实现抽屉效果 */
  .nav-menu.open{
    display: flex;
    width: 50vw;
    transition: all linear 1s;
    flex-flow: column ;
    align-items: center;

    justify-content: start;
  }
  .nav-menu.open li{
    display: block;
  }
  .nav-burger{
    display: block;
    overflow: hidden;
    padding-top: 4px;
  }
  /* 实现汉堡按钮的css动画 */
  .active div{
    transition: all 1s 0.1s;
  }
  .nav-burger.active .line-left{
    transform: rotateZ(45deg) translate(2px,6px);
  }
  .nav-burger.active .line-right{
    transform: rotateZ(-45deg) translate(2px, -6px);

  }
  .nav-burger.active .line-center{
    opacity: 0;
    transform: translateX(100%);
  }

  @keyframes menuItems {
    from{
      transform: translateX(44px);
      opacity: 0;
    }
    to{
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes started {
    form{

    }
    to{
      display: none;
    }
  }
}